@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


#body {
  background-color: black;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding: 0 30px;

  background-color: rgba(128, 128, 128, 0.121);
  background-blend-mode: overlay;
  border: none;

}


/* Navbar */


.display-flex2 {
  display: flex;
}

.display-flex4 {
  display: flex;
}

.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;



}


.fitness {
  font-size: 25px;
  color: rgb(205, 44, 7);
}

.ul-item {
  list-style: none;
  gap: 30px;
  border: 1px solid rgba(128, 128, 128, 0.079);
  border-radius: 70px;
  padding: 5px 15px;
}

.item-link {
  font-size: 13px;
  color: aliceblue;
  text-decoration: none;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

.sub-section {
  display: flex;
  gap: 100px;

}

.caption {
  color: aliceblue;
}

.title {
  font-size: 3rem;
}

.paragraph {
  font-size: 13px;
  color: gray;
  margin-top: -17px;
  margin-bottom: 25px;
}

.button {
  font-size: 12px;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 8px;
  width: 10rem;

}

.bar {
  display: none;
}



.img-style {
  width: 250px;
}

.short {

  width: 100px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6px;
  color: white;
  padding: 8px;
  width: 120px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.53);
  border: 1px solid gray;
  position: relative;
  bottom: 100px;
  right: 60px;
}

.btn-primary2 {
  color: white;
  padding: 10px;
  width: 120px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.53);
  border: 1px solid gray;
  position: relative;
  bottom: 330px;
  left: 200px;
}

.option {
  text-align: start;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(202, 45, 21);
}


/* Main */

main {
  padding: 0 30px;
  margin: 0 auto;

}

.section-1 {
  margin-top: 50px;
}

.title2 {
  font-size: 2rem;
  font-weight: bold;
}

.description {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.72);
}

.habits {
  color: white;
  text-align: center;
}

.all-img {
  display: flex;
}

.section-2 {
  margin-top: 50px;
}

.title3 {
  color: white;

}

.btn-me {
  width: 120px;
  padding: 8px 10px;
  border-radius: 15px;
  color: white;
  background-color: rgb(231, 91, 4);
  border: 1px solid rgb(231, 91, 4);
}

.sec-2 {
  display: flex;
  gap: 70px;
  background-color: rgba(128, 128, 128, 0.276);
  border-radius: 10px;
  padding: 20px;
}

.images {
  width: 350px;
  border-radius: 15px;
}

table {
  width: 200px;
  border-collapse: collapse;
}

td {
  font-size: 8px;
  border: 1px solid rgba(135, 134, 134, 0.271);
  padding: 5px;
  color: rgba(128, 128, 128, 0.732);
}

th {
  font-size: 11px;
  border: 1px solid rgba(135, 134, 134, 0.271);
  padding: 5px;
  text-align: start;
}


.section-3lite {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background-color: rgba(128, 128, 128, 0.276);
  margin: 0 -30px;
  padding: 10px 30px;
  margin-top: 50px;
}


.input {
  color: rgba(128, 128, 128, 0.648);
  width: 190px;
  height: 25px;
  border-radius: 6px;
  margin-top: 6px;
  background-color: rgba(128, 128, 128, 0.209);
  border: 1px solid rgba(128, 128, 128, 0.209);
}

.input2 {
  color: rgba(128, 128, 128, 0.648);
  width: 390px;
  height: 25px;
  border-radius: 6px;
  margin-top: 6px;
  background-color: rgba(128, 128, 128, 0.209);
  border: 1px solid rgba(128, 128, 128, 0.209);
}

.grid-me{
  display: flex;
  gap: 5px;
}

.section-4{
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-add{
  border-radius: 10px;
  width: 270px;
  height: 200px;
}

.img-grid{
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.179);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.extra{
  background-image: url('../images/trainer1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 200px;
  border-radius: 10px;
}
.extra2{
  background-image: url('../images/trainer2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 200px;
  border-radius: 10px;
}
.extra3{
  background-image: url('../images/trainer3.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 200px;
  border-radius: 10px;
}
.extra4{
  background-image: url('../images/trainer4.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 200px;
  border-radius: 10px;
  margin-top: 8px;
}
.extra5{
  margin-top: 8px;
  background-image: url('../images/trainer5.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 200px;
  border-radius: 10px;
}
.extra6{
  margin-top: 8px;
  background-image: url('../images/trainer6.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 200px;
  border-radius: 10px;
}

.edit{
  margin-top: 150px;
  margin-left: 10px;
  color: aliceblue;
}

.edit>h1{
  font-size: 1rem;
}

footer{
 
  background-color: rgba(128, 128, 128, 0.164);
}


.footer-div{
  margin-left: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}


.foot{
  font-weight: 800;
  font-size: 20px;
  color: white;
}

.p-p{
  color: rgba(245, 222, 179, 0.553);
  font-size: 15px;
}

.hr-role{
  width: 700px;
}

@media screen and (max-width: 576px) {
  .bar {
    display: block;
  }

  .fitness {
    font-size: 3rem;

  }

  .ul-item {
    display: none;
  }

  .sub-section {
    display: block;

  }

  .small {
    margin-top: 1.25rem;
    margin-left: 7rem;
  }

  .button {
    height: 3rem;

  }

  .button2 {
    display: flex;
    gap: 1rem;

  }

  .btn-primary {
    position: relative;
    bottom: 250px;
    right: 60px;
  }

  .btn-primary2 {
    position: relative;
    bottom: 410px;
    left: 140px;
  }

  .all-img {
    display: block;
    padding: 0 50px;
    margin-top: 20px;
  }

  .sec-2 {
    display: block;
    gap: 70px;
    background-color: rgba(128, 128, 128, 0.276);
    border-radius: 10px;
    padding: 20px;
  }

  .images {
    margin-top: 20px;
    width: 320px;
  }

  .btn-me {
    left: 30px;
    width: 75%;
  }

  .section-3lite {
    display: block;
  }

  .input {

    width: 180px;

  }

  .input2 {
    margin-top: -20px;
    width: 370px;

  }

  .grid-me {
    display: flex;
    gap: 3px;
  }

  .img-grid{
    
   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .img-add{
    border-radius: 10px;
    width: 330px;
    height: 200px;
  }

  .extra{
    width: 330px;
    height: 200px;
    border-radius: 10px;
  }

  .extra2{
    margin-top: 8px;
    width: 330px;
    height: 200px;
    border-radius: 10px;
  }

  .extra3{
    margin-top: 8px;
    width: 330px;
    height: 200px;
    border-radius: 10px;
  }

  .extra4{
    width: 330px;
    height: 200px;
    border-radius: 10px;
  }

  .extra5{
    width: 330px;
    height: 200px;
    border-radius: 10px;
  }

  .extra6{
    width: 330px;
    height: 200px;
    border-radius: 10px;
  }

  .footer-div{
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: -20px;
  align-items: start;
  justify-content: start;
}

.jamel{
  position: relative;
  right: 60px;
}

.hr-role{
  width: 300px;
}
}